.movie-card {
  width: 25rem;
  max-width: 300px;
  margin: 2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.5s ease;
}
.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.movie-card:hover .description {
  transform: translateY(0);
  opacity: 1;
}
.movie-card:hover .poster {
  filter: grayscale(100%);
}
.poster img {
  width: 100%;
  transition: all 0.5s ease;
}
.name-score {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.5s ease;
}
.name-score h3 {
  margin: 0;
  font-size: 18px;
}
.name-score span {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.name-score span.green {
  color: lightgreen;
}

.name-score span.orange {
  color: orange;
}

.name-score span.red {
  color: red;
}
.description {
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 1.2rem;
  padding: 2rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  max-height: 100%;
  transform: translateY(-101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}
