.logo-area {
  display: flex;
  align-items: center;
  justify-content: start;
}

#logo--pic {
  width: 4.5rem;
  margin-left: 1.5rem;
}

#logo {
  color: #fff;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}
